

  <div class="bg-primary p-3 mt-3 mb-3"><h4 class="text-center">Users List</h4></div>

<% @users.each do |user| %> 
    <% if !user.is_admin %>
        <div class="card p-2 mb-2">
            <div class="card-body d-flex justify-content-between align-items-center">
                <h5><%= user.full_name %> </h5>
                <h5><%= user.email %> </h5>
                <div>
                    <% if current_user.is_admin? && @user != current_user %> 
                        <% if user.is_active %> 
                            <%=link_to "Deactivate", deactivate_user_path(user), method: :put, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %> 
                            <% else %> 
                                <%=link_to "Activate", activate_user_path(user), method: :put, data: { confirm: "Are you sure?" }, class: "btn btn-success" %> 
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    <% end %> 
<% end %> 











